---
layout: default
type: home
title: Mayalen Etcheverry
---

<p>
    I am currently working in the <a href="https://flowers.inria.fr/">FLOWERS</a> team at Inria, Bordeaux, where I am
    about to start a PhD under the supervision of <a href="http://www.pyoudeyer.com/">Pierre-Yves Oudeyer</a>.
</p>

<p>
    My research focuses on developing curiosity-driven AI agents that can autonomously discover and learn a diversity of structures and skills in their environments.
    In particular, I am interested in learning modular representations that can  dynamically adapt to the environment complexity.
    I am also very excited about applying those (curiosity-driven) ML algorithms to the exploration of physicochemical and biological systems.
</p>

<p>
    Previously, I have been at <a href="https://www.ucl.ac.uk/">University College of London</a> where I completed my
    Master of Science (MSc) in computer vision and at <a href="https://www.telecom-paris.fr/">Télécom Paristech</a>
    where I did my Master of Engineering (MEng).
    I also spent a year as an AI research intern at <a href="https://www.siemens-healthineers.com/">Siemens
    Healthineers</a>, Princeton N.J., working on deep learning and reinforcement learning algorithms for healthcare.
</p>

{% include news.html %}

{% include publications.html %}

{% include blogs.html %}