---
layout: default
type: home
title: Welcome!
---

<p>
I'm Maya, an AI researcher interested in the application of <b>Machine Learning</b> to unsolved problems in <b>Science</b>, as well as in a broad range of topics such as Self-Organisation, Collective Learning and Open-Endedness.<br>
   
</p>

<p> I'm currently working on AI for automated discovery in Science as a postdoctoral researcher at <a href="https://t.co/20tyQH2LSj">Syensqo</a> and <a href="https://t.co/MD50uIe0Kl">LoF-CNRS</a>, where I develop curiosity-driven exploration methods for the discovery of novel chemical formulations.
    Before that I obtained my Ph.D. in Machine Learning under the supervision of <a href="http://pyoudeyer.com/">Pierre-Yves Oudeyer</a> and <a href="https://clement-moulin-frier.github.io/">Clément Moulin-Frier</a> at the <a href="https://flowers.inria.fr/">FLOWERS team</a>  at Inria Bordeaux; together with the <a href="https://poietis.com/">Poietis</a> biotech company. During my Ph.D, I also worked with Dr. <a href="https://drmichaellevin.org/people/">Michael Levin</a> and his team at the <a href="https://drmichaellevin.org/">Levin Lab</a> at Tufts University.
</p>


<p>
    Previously, I have been at <a href="https://www.ucl.ac.uk/">University College of London</a> where I completed my
    Master of Science (MSc) in computer vision and at <a href="https://www.telecom-paris.fr/">Télécom Paristech</a>
    where I did my Master of Engineering (MEng).
    I also spent a year as an AI research intern at <a href="https://www.siemens-healthineers.com/">Siemens
    Healthineers</a>, Princeton N.J., working on deep learning and reinforcement learning algorithms for healthcare. 
    My extended CV can be found <a href="assets/pdf/Resume_Mayalen_Etcheverry.pdf">here</a>.
</p>

{% include news.html %}

{% include thesis.html %}

{% include publications.html %}

{% include blogs.html %}

{% include projects.html %}


