<h2 class="m0a" data-aos="fade-up">News:</h2>
<div>
<ul>
    <li>
        <b>12/2020:</b> Enjoyed my first (virtual) participation at <b>NeurIPS 2020</b> where we presented our paper on meta-diversity search to explore morphogenetic systems (talk <a href="https://slideslive.com/38938556/hierarchicallyorganized-latent-modules-for-exploratory-search-in-morphogenetic-systems">here</a>). 
    </li>
    <li>
        <b>04/2020:</b> Happy to participate to <b>ICLR 2020</b>, check out our paper presentations at the <a href="https://iclr.cc/virtual/poster_rkg6sJHYDr.html">main track</a> conference and <a href="http://www.betr-rl.ml/2020/abs/33/">BeTR-RL</a> workshop.
    </li>
    <li>
        <b>04/2020:</b> I have just written a <a href="http://developmentalsystems.org/intrinsically_motivated_discovery_of_diverse_patterns">blogpost</a> about our paper on intrinsically-motivated discovery in self-organizing systems such as the Game of Life.
    </li>

</ul>
</div>
