<h2 class="m0a" data-aos="fade-up">News:</h2>
<div>
<ul>
    <li>
        <b>07/2021:</b> I have participated to the <a href="https://evocraft.life/">MineCraft Open-Endedness Challenge</a> holded at <a href="https://gecco-2021.sigevo.org/Competitions">Gecco 2021</a> where we applied the idea of meta-diversity for the open-ended generation of structures
        (Runner-up, <a href="https://mayalene.github.io/evocraftsearch/">blogpost</a> here). 
    </li>
    <li>
        <b>12/2020:</b> Searching for an intern (see <a href="http://www.pyoudeyer.com/internshipLeniaMasterLevel2021.pdf">proposal</a>: can we emerge "sensorimotor agents" in
        self-organizing systems such as <a href="https://openlenia.github.io/">Lenia</a> cellular automata?) at <a href="https://flowers.inria.fr/">FLOWERS</a> team, co-supervision with <a href="https://chakazul.github.io/">Bert Chan</a>! 
    </li>
    <li>
        <b>12/2020:</b> Enjoyed my first (virtual) participation at <a href="https://nips.cc/virtual/2020/public/index.html">NeurIPS 2020</a> where we presented our paper on meta-diversity search to explore morphogenetic systems (talk <a href="https://slideslive.com/38938556/hierarchicallyorganized-latent-modules-for-exploratory-search-in-morphogenetic-systems">here</a>). 
    </li>
    <li>
        <b>04/2020:</b> Happy to participate to <a href="https://iclr.cc/virtual_2020/index.html">ICLR 2020</a>, check out our paper presentations at the <a href="https://iclr.cc/virtual/poster_rkg6sJHYDr.html">main track</a> conference and <a href="http://www.betr-rl.ml/2020/abs/33/">BeTR-RL</a> workshop.
    </li>
    <li>
        <b>04/2020:</b> I have just written a <a href="http://developmentalsystems.org/intrinsically_motivated_discovery_of_diverse_patterns">blogpost</a> about our paper on intrinsically-motivated discovery in self-organizing systems such as the Game of Life.
    </li>

</ul>
</div>
