<h2 class="m0a" data-aos="fade-up">News:</h2>
<div>
<ul>
    <li>
        <b>02/2022:</b> Invited to give a talk at the <a href="https://sites.google.com/view/collective-learning">From Cells to Societies</a> - ICLR 2022 workshop [upcoming]
    </li>
    <li>
        <b>01/2022:</b> New <a href="https://developmentalsystems.org/sensorimotor-lenia">blogpost</a> where we study the emergence of sensorimotor agency within a CA environment
    </li>    
    <li>
        <b>07/2021:</b> New <a href="https://mayalene.github.io/evocraftsearch/">blogpost</a> about our participation to the <a href="https://evocraft.life/">MineCraft Open-Endedness Challenge</a> (Runner-up) 
    </li>
    <li>
        <b>12/2020:</b> NeurIPS 2020 <a href="https://slideslive.com/38938556/hierarchicallyorganized-latent-modules-for-exploratory-search-in-morphogenetic-systems">talk</a> about our paper on meta-diversity search to explore self-organizing systems
    </li>
    <li>
        <b>04/2020:</b> New <a href="http://developmentalsystems.org/intrinsically_motivated_discovery_of_diverse_patterns">blogpost</a> about our paper on intrinsically-motivated discovery in self-organizing systems
    </li>

</ul>
</div>
