---
---
<a href="{{ entry.url }}" class="nostyle">
    <div class="project borders cards" data-aos="fade-up" style="display: inline-block; margin: 4px; width: 100%;">

        <div class="image" style="background-image: url({{site.baseurl}}{{entry.image}})"></div>

        <div class="text">
            <p class="title">{{entry.title}}</p>

            <p class="authors"> {{entry.authors}} </p>

            {% if entry.venue %}
            <p class="venue"> {{entry.venue}} </p>
            {% endif %}

            {% if entry.precision %}
            <p class="venue"> {{entry.precision}} </p>
            {% endif %}

            |

            {% if entry.abstract %}
            <a shape="rect" href="javascript:;" onclick="toggleBibtex{{entry.key}}()">abstract</a> |
            {% endif %}

            {% if entry.webpage %}
            <a href="{{ entry.webpage }}">webpage</a> |
            {% endif %}

            {% if entry.pdf %}
            <a href="{{ entry.pdf}}">pdf</a> |
            {% endif %}

            {% if entry.publication %}
            <a href="{{ entry.publication }}">publication</a> |
            {% endif %}

            {% if entry.video %}
            <a href="{{ entry.video }}">video</a> |
            {% endif %}

            {% if entry.poster%}
            <a href="{{ entry.poster }}">poster</a> |
            {% endif %}

            {% if entry.code %}
            <a href="{{ entry.code }}">code</a> |
            {% endif %}

            {% if entry.talk %}
            <a href="{{ entry.talk }}">oral talk</a> |
            {% endif %}

            {% if entry.blog %}
            <a href="{{ entry.blog }}">blog</a> |
            {% endif %}
        </div>
    </div>
</a>

<div id="a{{entry.key}}" style="display: none;">
    <p class="abstract">{{entry.abstract}}</p>
</div>

<script>
function toggleBibtex{{entry.key}}(parameter) {
    var x= document.getElementById('a{{entry.key}}');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}


</script>
